<%-include('../initials/header') %>

<div class="signup">

    <div class="text">
        <h1>facebook</h1>
        <p>Facebook helps you connect and share with the people in your life.</p>
    </div>
    <div class="card">
<div class="line"><strong>New to Facebook-Create account</strong><a href="/signup" > Create Account</a></div>
<div class="line"><strong>Already a user?-login</strong><a href="/login">login</a></div>
</div>
</div>






<%-include('../initials/footer')%>