<%-include('../initials/header') %>
<div class="input">
    <form action="/signup" method="post">
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Type a new password"  required>
    <input type="date" name="dob" placeholder="Date Of Birth" required>
    <input type="gender" name="gender" placeholder="Male/female/others" required> 
    <input type="submit" value="Create Account">
</form>
</div>
<div class="links">
    <a href="/" class="return-btn">Return to Home</a>
    </div>




<%-include('../initials/footer')%>